<section class="orders-show">

  <header class="page-header">
    <h1>Order #<%= @order.id %></h1>
  </header>

  <table class="table table-bordered">
  <thead>
    <tr>
      <th>Product </th>
      <th>Description</th>
      <th>Quantity</th>
      <th>Price</th>
      <th>Subtotal</th>
    </tr>
  </thead>
  <tbody>
    <% @line_items.each do |item| %>
      <%= render 'line_item', item: item  %>
    <% end %>
  </tbody>
</table>

  <div class="order-summary jumbotron">
<p> Order Email: <%= @order.email %></p>
  <p>Order Total: $<%= @order.total_cents.to_f / 100%></p>
    <h4>Thank you for your order!</h4>
  </div>

  <%= link_to "Continue Shopping", root_path, class: 'btn btn-lg btn-primary' %>

</section>
